services:
  rev-proxy:
    restart: unless-stopped
    image: nginxinc/nginx-unprivileged:1.27-alpine
    environment:
      FHIR_SERVER_HOSTNAME: ${FHIR_SERVER_HOSTNAME:-fhir.localhost}
      KEYCLOAK_HOSTNAME: ${KEYCLOAK_HOSTNAME:-auth.localhost}
      FLARE_HOSTNAME: ${FLARE_HOSTNAME:-flare.localhost}
      TORCH_HOSTNAME: ${TORCH_HOSTNAME:-torch.localhost}
      TERMINOLOGY_SERVER_HOSTNAME: ${TERMINOLOGY_SERVER_HOSTNAME:-terminology.localhost}
      FHIR_PSEUDONYMIZER_HOSTNAME: ${FHIR_PSEUDONYMIZER_HOSTNAME:-dimp.localhost}
      FHIR_FLATTENER_HOSTNAME: ${FHIR_FLATTENER_HOSTNAME:-flattener.localhost}
      FHIR_VALIDATOR_HOSTNAME: ${FHIR_VALIDATOR_HOSTNAME:-validator.localhost}
    ports:
      - ${DATA_NODE_REV_PROXY_PORT:-444}:8443
    volumes:
      - ${DATA_NODE_REV_PROXY_CERTIFICATE_FILE:-../auth/cert.pem}:/etc/nginx/certs/cert.pem:ro
      - ${DATA_NODE_REV_PROXY_CERTIFICATE_PRIVATE_KEY_FILE:-../auth/cert.key}:/etc/nginx/certs/key.pem:ro
      - ${DATA_NODE_REV_PROXY_HTTP_PASSWORD_FILE:-../auth/.htpasswd}:/etc/nginx/.htpasswd:ro
      - ${DATA_NODE_REV_PROXY_NGINX_CONFIG:-./context-paths.nginx.conf}:/etc/nginx/nginx.conf:ro
      - ./conf.d:/etc/nginx/templates:ro
