services:
  torch-nginx:
      restart: unless-stopped
      image: nginxinc/nginx-unprivileged:1.27-alpine
      ports:
        - ${TORCH_NGINX_PORT:-127.0.0.1:80}:8080
      volumes:
        - ./torch.nginx.conf:/etc/nginx/nginx.conf
        - "${TORCH_DATA_VOLUME:-triangle-torch-data-store}:/app/output"
  torch:
    restart: unless-stopped
    image: ghcr.io/medizininformatik-initiative/torch:1.0.0-alpha.13
    ports:
      - ${TORCH_PORT:-127.0.0.1:8086}:8080
    env_file:
      - .env
    volumes:
      - "${TORCH_DATA_VOLUME:-triangle-torch-data-store}:/app/output"
      - ../auth:/app/certs
    extra_hosts:
      - "auth.localhost:host-gateway"

volumes:
  triangle-torch-data-store:

