services:
  terminology-server:
    image: samply/blaze:1.5.0
    healthcheck:
      test: ["CMD-SHELL", "curl --fail -s http://localhost:8080/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 60s
    env_file:
      - .env
    ports:
    - ${PORT_TERMINOLOGY_SERVER_LOCALHOST:-127.0.0.1:8082}:8080
    restart: unless-stopped
    volumes:
    - "blaze-terminology-data:/app/data"
    - "./terminology-data/sct-release:/app/sct-release"

volumes:
  blaze-terminology-data:
