name: CI

on:
  push:
    branches:
    - main
    - develop
    tags:
    - v[0-9]+.[0-9]+.[0-9]+**
  pull_request:
    branches:
    - main
    - develop

env:
  DATA_PORTAL_COMPOSE_PROJECT: test

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4

    - name: Check shell scripts
      uses: ludeeus/action-shellcheck@master
      with:
        ignore_paths: .github/scripts

  test-data-node-fhir-server:
    runs-on: ubuntu-latest

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4

    - name: Install Blazectl
      run: .github/scripts/install-blazectl.sh

    - name: Initialize .env's
      run: data-node/initialise-node-env-files.sh

    - name: Change Configuration for localhost
      run: |
        sed -i -r -e 's#^(ENABLE_TERMINOLOGY_SERVICE)=.*$#\1="false"#' \
            data-node/terminology-server/.env
        sed -i -r -e 's#^(FLARE_ENABLED)=.*$#\1="false"#' \
            data-node/flare/.env
        sed -i -r -e 's#^(TORCH_ENABLED)=.*$#\1="false"#' \
            data-node/torch/.env
        sed -i -r -e 's#^(DIMP_ENABLED)=.*$#\1="false"#' \
            data-node/fhir-pseudonymizer/.env
        sed -i -r -e 's#^(FLATTENING_ENABLED)=.*$#\1="false"#' \
            data-node/fhir-flattener/.env
        sed -i -r -e 's#^(VALIDATION_ENABLED)=.*$#\1="false"#' \
            data-node/fhir-validator/.env
        sed -i -r -e 's#^(OPENID_PROVIDER_URL)=.*$#\1="https://auth.localhost:444/realms/blaze"#' \
                  -e 's#^(KC_HOSTNAME)=.*$#\1="https://auth.localhost:444/"#' \
                  -e 's#^(KC_HTTP_RELATIVE_PATH)=.*$#\1=/#' \
            data-node/fhir-server/.env
        sed -i -r -e 's#^(FHIR_SERVER_HOSTNAME)=.*$#\1="fhir.localhost"#' \
                  -e 's#^(FLARE_HOSTNAME)=.*$#\1="flare.localhost"#' \
                  -e 's#^(KEYCLOAK_HOSTNAME)=.*$#\1="auth.localhost"#' \
                  -e 's#^(DATA_NODE_REV_PROXY_NGINX_CONFIG)=.*$#\1="./subdomains.nginx.conf"#' \
            data-node/rev-proxy/.env

    - name: Generate certificate
      env:
        CERT_DOMAINS: "fhir.localhost, flare.localhost, auth.localhost"
      run: data-node/generate-cert.sh

    - name: Start Data Node
      run: data-node/start-node.sh

    - name: Load Data
      run: |
        ACCESS_TOKEN="$(data-node/get-fhir-server-access-token.sh)"
        blazectl --no-progress --server https://fhir.localhost:444/fhir --certificate-authority data-node/auth/cert.pem --token "$ACCESS_TOKEN" upload .github/test-data

    - name: Run Test Queries
      run: |
        ACCESS_TOKEN="$(data-node/get-fhir-server-access-token.sh)"
        .github/scripts/test-basic-queries.sh https://fhir.localhost:444/fhir "$ACCESS_TOKEN" data-node/auth/cert.pem
